
/* STANDARD HEADINGS */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
    border-bottom: 1px solid #e1e4e5;
    padding-bottom: 18px;
    /* For Small TOC  */
    word-break: break-word !important;
}

h3 {
    font-size: 22px;
    background: #f2f2f2;
    padding: 10px;
}

h4 {
    border-bottom: 1px solid #e1e4e5;
    padding-bottom: 0.5em;
}

/* for long topic link  */

.nav-site-sidebar ul .active > a {
    word-break: break-word;
}


/* for long topic link  */

.nav-site-sidebar ul .active > a {
    word-break: break-word;
}


/* For Small TOC */

pre, code.code{
    word-break: break-word !important;
}

aside > ul.section-nav > li > ul.nav{
    display: none !important;
}

aside > ul.section-nav {
    list-style: none !important;
    list-style-type: none !important;
}


aside > ul.section-nav > li.active{
    border-left: 2px solid #006f7c;
}

.theme1 .section-nav.nav li.active>a,
aside > ul.section-nav > li.active {
    color: #006f7c;
}

aside > ul.section-nav.nav > li.active > a:before{
    display: none !important;
}

/* Cuts off long class/property names */
.section-nav.nav>li a {
    text-overflow: ellipsis;
    max-width: 220px;
    overflow: hidden;
}


/*  For footer    */

.site-footer{
    padding-left: 16.666667% !important;
    padding-right: 40px !important;
}


/* For AboutThisSite Reusable Component */

.AboutThisSite .titlepage div.title{
    margin-top: 250px;
}

.AboutThisSite .titlepage h2.title{
    font-weight: bold;
    line-height: 1.1;
    color: #000000;
    font-family: inherit;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: none;
    padding-bottom: 0 !important;
}

.AboutThisSite h3.bridgehead {    
    font-weight: bold;
    line-height: 1.1;
    color: #000000;
    font-family: inherit;
    font-size: 14px;
    background: none;
    padding: 10px 0 !important;
}

.AboutThisSite p {   
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    font-family: inherit;
    font-size: 14px;
}


/* -----------------  */



/* Table styling */

.topic-content tr:nth-child(odd) {
    background: #f2f2f2;
}

.rules-rows td, .rules-rows th, .rules-all td, .rules-all th {
    border: 1px solid black;
}

.topic-content th {
    background: white;
}

.topic-content table {
    border: 1px solid black;
}

.rules-rows td, .rules-rows th {
    border-top: 1px solid #000 !important;
}

div.informaltable {
    margin-bottom: 2em;
}

table .warning .title, table .note .title, table .important .title, table .caution .title, table .tip .title,
table .warning, table .note, table .important, table .caution, table .tip
{
    background: #dadada;
}

.informaltable td .warning p, .informaltable th .warning p, .table td .warning p, .table th .warning p,
.informaltable td .note p, .informaltable th .note p, .table td .note p, .table th .note p,
.informaltable td .important p, .informaltable th .important p, .table td .important p, .table th .important p
{
    margin: 20px;
}


/* Hide abstract */

.abstract {
    display: none;
}

/* Make admonitions grey */

.important{
    border-left: 10px solid #006f7c;
}
.warning{
    border-left: 10px solid #de232f;
}

.warning, .note, .important, .caution, .tip {
    background: #f2f2f2;
}

.warning .title, .note .title, .important .title, .caution .title, .tip .title {
    color: black;
    font-weight: bold;
    font-size: 1em;
    background: #f2f2f2;
    padding: 15px 20px 0px;
}

.caution .title:before, .tip .title:before, .warning .title:before, .note .title:before, .notice .title:before, .important .title:before {
    content: "";
    margin: 0;
}

/* Strip out procedure styling */

.procedure > li {
    counter-increment: none;
    list-style-type: decimal;
}

.theme1 .procedure > li::before {
    background-color: #EF8200;
    display: none;
}

/* Strip colour from code */

code {
    color: inherit;
    background: transparent;
    font-size: 1em;
}

/* Hide 'see also' */

.section-toc {
    display: none;
}

/* Change breadcrumb spacing */

.breadcrumb>li+li:before {
    padding: 0 0 0 5px;
}

/* Hide next/previous */

.pager {
    display: none;
}


/* Panels */

.panel {
    border: 0.5px solid #e4e4e4;
}

.panel-default > .panel-heading {
    padding: 0.5em 1em;
}

.panel-heading h1, .panel-heading h2, .panel-heading h3 {
    border-bottom: 0;
}

.panel-heading :not(div).title:before, .panel-heading .sidebar-title:before {
    font-size: 0.6em;
    width: 10px;
    display: inline-block;
}

.panel-body {
    padding: 0em 1em 2em;
}

/* Pagination */

.bg-primary, .btn-primary, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .site-sidebar, .portal-single-publication .publication-icon {
    background-color: #006f7c;
}

.topic-content a, .text-primary, .btn-link, .pagination>li>a, .pagination>li>span, .publication-contents a:hover {
    color: #006f7c;
}

a:hover, a:focus, .btn-link:hover, .btn-link:focus {
    color: #006f7c;
}

.topic-content a {
    text-decoration: underline;
}

.pager li>a, .pager li>span {
    color: #008998;
}

.pager li>a:hover, .pager li>span:hover {
    background: #008998;
}

warning h3, .note h3, .important h3, .caution h3, .tip h3 {
    font-size: 1em;
    padding: 10px 20px 10px 20px;
}

.warning > p, .note > p, .important > p, .caution > p, .tip > p {
    margin-left: 20px;
    -webkit-margin-before: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 10px;
}

/* Theme 1 overrides */

.theme1 .site-sidebar .logo {
    max-width: 300px;
}

/* For publication data section */

#publication-data {
    width: 67%;
    height: auto;
    margin: 10px auto;
    padding: 15px 0;
    font-size: 15px;
}

#publication-list {
    float: right;
}

#publication-list, #version-list {
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

#version-list a {
    text-decoration: none ;
    color: black ;
}

#version-list #currentVersion, #version-list a {
    color: #006f7c;
    border: 1px solid #006f7c;
    line-height: 1.2em;
    margin-right: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
}

#version-list a:hover, #version-list #currentVersion {
    background: #006f7c;
    color: white;
}

#publication-list > #select-publication {
    height: 35px;
    border-radius: 5px;
}

/* For footer feedback section */

#feedback-holder {
    padding: 20px;
    background: #e2e4e5;
    margin-top: 3em;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #000;
}

.pubdate, .date-modified {
    display: none ;
}

/* For Cludo Search */

.search-input {
    /* wrong class name - waiting for design changes */
    border: 1px solid #ccc;
    width: 400px;
    height: 40px;
    padding: 6px 5px 2px;
    text-align: left;
    border-radius: 5px;
}

.search-results-item a p {
    overflow-wrap: break-word;
}

#cludo-search-results .cludo-search-modal-body .cludo-banner {
    padding: 5px;
    background-color: #df3535;
    color: #ece6e6;
}

/* MAKING SEARCH MORE VISIBLE */

.form-control.search-field {
    margin: 0 auto;
    max-width: 95%;
    background: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: rgba(0,0,0,100);
}

.search-field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
}

.search-field::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
}

.search-field:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
}

.search-field:-moz-placeholder {
    /* Firefox 18- */
    color: black;
}

/* Google Code */

.hljs {
    margin: 15px;
    padding: 1.5em !important;
}

/* Version Selector */

div#version-data {
    position: fixed;
    bottom: 0;
    left: 0;
    background:  #095056;
    z-index: 9999;
}

#version-list {
    padding: 0;
    display: inline-block;
    text-align:center;
    width: 100%;
}

#version-list select {
    background:  #095056;
    border: none;
    color: white;
    padding: 15px 20px;
    max-width: 100%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}


#version-list a:hover, #version-list #currentVersion {
    background: #006f7c;
    color: white;
}

.nav-site-sidebar {
margin-bottom: 50px;
}

div#version-data {
width: 83.33333333%
}

.mediaobject > table.image-viewport{
    border: none !important;
}

.mediaobject .material-placeholder img{
    border: 1px solid #cdcdca !important;
}

@media (min-width: 768px)
{
div#version-data {
width: 25%;
}
}

@media (min-width: 1200px)
{
div#version-data {
    width: 16.66666%;
}
}

#current-version {
padding: 5px 20px;
    background: #e2e4e5;
}

/* CONSENT */

.cc-revoke.cc-bottom {
    bottom: 0;
    right: 3em;
    left: auto !important;
}
